<section>
  <div class="container">
    <div class="one-time">
      <div class="slick-card">
        <h3 class="slick-title">Card one</h3>
        <img
          src="./images/cases/cases-1.jpg"
          alt="cases"
          width="60"
          height="60"
        />
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam
          obcaecati veniam rerum sed debitis, commodi architecto doloremque id
          blanditiis veritatis tenetur quaerat consequuntur aliquid deleniti ex
          vero odio, placeat atque cum deserunt quo at ab saepe voluptate.
          Maiores tempora laboriosam, fugit, quasi nulla nisi voluptates eaque
          eveniet recusandae assumenda reiciendis!
        </p>
      </div>
      <div class="slick-card"><h3 class="slick-title">2</h3></div>
      <div class="slick-card"><h3 class="slick-title">3</h3></div>
      <div class="slick-card"><h3 class="slick-title">4</h3></div>
      <div class="slick-card"><h3 class="slick-title">5</h3></div>
      <div class="slick-card"><h3 class="slick-title">6</h3></div>
    </div>
  </div>
</section>
