.solutions {
  & .container {
    display: flex;
    padding: 0;
  }

  &-wrapper {
    background-color: var(--accent-color);
    padding: 84px 44px 84px 30px;
  }

  &-button {
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 11px 27px 12px 42px;
    line-height: 1.56;
    color: var(--secondary-text-color);
    display: inline-block;
  }
}
